<div>
    <h2>
        <!-- <span>Application Metrics - Dashboard</span> -->
        <!-- <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon [icon]="'sync'"></fa-icon> <span>Refresh</span>
        </button> -->
    </h2>

    <!-- <h3>JVM Metrics</h3> -->
    <div class="row" *ngIf="!updatingMetrics">
        <div class="col-md-6">
            <h3>User Statistic</h3>

            <p><span>Số tài khoản đã Actived</span> ({{statistics.activedUser | number:'1.0-0'}} / {{statistics.totalUser | number:'1.0-0'}})</p>
            <ngb-progressbar type="success" [max]="statistics.totalUser" [value]="statistics.activedUser" [striped]="true" [animated]="true">
                <span>{{statistics.activedUser * 100 / statistics.totalUser  | number:'1.0-0'}}%</span>
            </ngb-progressbar>

            <p><span>Số tài khoản trả phí (Paid)</span> ({{statistics.paidUser | number:'1.0-0'}} / {{statistics.activedUser | number:'1.0-0'}})</p>
            <ngb-progressbar type="warning" [max]="statistics.activedUser" [value]="statistics.paidUser" [striped]="true" [animated]="true">
                <span>{{statistics.paidUser * 100 / statistics.activedUser  | number:'1.0-0'}}%</span>
            </ngb-progressbar>

            <p><span>Số Yêu cầu kết bạn đang chờ xử lý</span> ({{statistics.pendingFriends | number:'1.0-0'}} / {{statistics.totalFriends | number:'1.0-0'}})</p>
            <ngb-progressbar type="info" [max]="statistics.totalFriends" [value]="statistics.pendingFriends" [striped]="true" [animated]="true">
                <span>{{statistics.pendingFriends * 100 / statistics.totalFriends  | number:'1.0-0'}}%</span>
            </ngb-progressbar>

            <p><span>Số Tin nhắn chưa đọc</span> ({{statistics.unreadMessages | number:'1.0-0'}} / {{statistics.totalMessages | number:'1.0-0'}})</p>
            <ngb-progressbar type="danger" [max]="statistics.totalMessages" [value]="statistics.unreadMessages" [striped]="true" [animated]="true">
                <span>{{statistics.unreadMessages * 100 / statistics.totalMessages  | number:'1.0-0'}}%</span>
            </ngb-progressbar>

        </div>
        <div class="col-md-6">
            <h3>Configuration</h3>
            <p *ngIf="flagTesting" class="alert alert-success">Done! please check the mailtrap!</p>
            <p *ngIf="flagMsgSuccess" class="alert alert-success">Success!</p>
            <p *ngIf="flagMsgError" class="alert alert-danger">Something went wrong!</p>
            <div class="form-group">
                <label class="form-control-label">Số ngày chờ xóa tài khoản nếu người dùng không kích hoạt tài khoản là:</label>
                <input class="form-control" type="text" type="number" [(ngModel)]="configs.removeAccNotActive">
                <label class="form-control-label">Gửi mail nhắc nhở thanh toán nếu cách ngày hết hạn là:</label>
                <input class="form-control" type="text" type="number" [(ngModel)]="configs.remindUpgrade">
                <label class="form-control-label">Gửi mail hỏi thăm khi người dùng không online trong số ngày là:</label>
                <input class="form-control" type="text" type="number" [(ngModel)]="configs.sendComeBack">
                <div style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary" (click)="saveConfigs()">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                    <button type="button" class="btn btn-info" (click)="testNow()">
                        <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span>Test Configuration Now</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
